/* External CSS */

.external-heading{
    color: purple;
    text-align: center;
}

/* Color */
.color{
    color: orange;
}

/* Text Align */
.align{
    text-align: center;
}

/* Text Decoration */
.decoration{
    text-decoration: underline;
}

/* Text Transform */
.transform{
    text-transform: uppercase;
}

/* Text Shadow */
.shadow{
    text-shadow: 2px 2px 5px gray;
    font-size: 30px;
}

/* Line Height */
.line-height{
    line-height: 2;
}

/* Letter Spacing */
.letter-spacing{
    letter-spacing: 5px;
}

/* Word Spacing */
.word-spacing{
    word-spacing: 15px;
}

/* Font Size */
.font-size{
    font-size: 28px;
}

/* Font Family */
.font-family{
    font-family: Arial, sans-serif;
}

/* Font Style */
.font-style{
    font-style: italic;
}

/* Font Weight */
.font-weight{
    font-weight: bold;
}
