*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainheading{
    background-color:skyblue;
    color: aliceblue;
    text-align: center;
    padding: 80px;
    font-size: 1.5rem;
}
.front{
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    color: skyblue;
}
h2{
    font-size: 2rem;
    margin-bottom: 30px;
}

.back{
     margin-top: 50px;
    text-align: center;
    text-decoration: none;
    color: skyblue;

}

.html{
    margin-top: 700px;
    padding:100px;
}
.css{
    margin-top: 700px;
    padding:100px;
}
.js{
    margin-top: 700px;
    padding:100px;
}
.rjs{
    margin-top: 700px;
    padding:100px;
}
.node{
    margin-top: 700px;
    padding:100px;
}
.express{
    margin-top: 700px;
    padding:100px;
}
.db{
    margin-top: 700px;
    padding: 100px;
}
h3{ 
    margin-bottom: 30px;
    color: rgb(193, 94, 32);
    font-size: 2rem;
}
/* pseudoclass=
1.a:active = click on link but not released yet
2. a:hover = highlight the part when the cursor on
3.a:visited  = clicked link 
 */
a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(42, 68, 42);
}
a:visited{
    color: pink;
}
a:active{
    color: orange;
}
a:hover{
    color: aliceblue;
    background-color:rgb(42, 82, 42);
    padding: 2px 10px;
}
