*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: url(./water.avif);
    background-size: 100%;
    
}

h1{
    text-align: center;
    margin:300px 200px 50px 200px;
    font-size: 15rem;
    color: aliceblue;
}
h2{
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
}
a{
    text-decoration: none;
    padding: 10px;
    border:5px solid aliceblue;
    font-size: 3rem;
}
.buttons{
    text-align: center;
    margin-top: 50px;
}
.link1{
    margin:10px;
    color: aliceblue;
}
.link2{
    margin:10px;
    color: aliceblue;
}
a:hover{
    transform: scale(1.05);
    box-shadow: 2px -2px 20px grey;
}
